@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

body{
    background-color:rgb(204, 204, 204);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho{
    background-color:#252525;
    padding:20px;
    margin-top: -45px;  
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img_1{
    width:10px;
    height:20px;
}

.img_2{
    width:80px;
    height:19px;
}

.img_3{
    width:65px;
    height:70px;
}

.seta{
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    width: 10px;
}

.seta:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #252525;
    padding: 10%;
    margin: 30%;
    border-radius: 30px;
   
}

.campos{
    width: 100%;
    padding:40px;
}

form div + div{
   margin: 0;
   padding: 1px;
}

label{
    color: #ffffff;
    font-family:fonte2;
    padding: 6px;

}

input, textarea{
    width:200px;
    padding: 6px;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: fonte2;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.button1{
    justify-content: center;
    align-items: center;
    text-align:center;
}

.button2{
    justify-content: center;
    align-items: center;
    text-align:center;
}

.button3{
    justify-content: center;
    align-items: center;
    text-align:center;
}

textarea{
    height: 5px;
}

.texto_principal{
    font-family:fonte2; 
    font-size:49%;
    color: #ffffff;
    text-align: center;
}

.texto_secundario{
    font-family:fonte2; 
    font-size:20px;
    color: #ffffff;
    text-align: center; 
}

.logo{
    margin:-10px 130px;
    width:100%;
}