@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

body{
    background-color:rgb(204, 204, 204);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    background-color:#252525;
    padding:15px;  
    align-items: center;
    
}

.logo_inicial{
    padding-left: 46%;
}

.img_1{
    width:10px;
    height:20px;
}

.img_2{
    width:80px;
    height:19px;
}

.img_3{
    width:65px;
    height:70px;
}

.seta{

}



.seta:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top:40px;
    padding-bottom:40px;
}

.form{
    width: 30%;
    padding: 15px;
    background-color: #252525;
    border-radius: 30px;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.55);
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    color: #ffffff;
    font-family:fonte2;
    text-align:center;
    padding: 5px;
}

input, textarea{
    width:20rem;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    font-family: fonte2;
}

.btn{
    margin: 20px;
    
}

.button1{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button2{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

textarea{
    height: 10px;
}

.texto_principal{
    font-family:fonte2; 
    font-size:60%;
    color: #ffffff;
    padding: 10px;
}

.texto_secundario{
    font-family:fonte2; 
    font-size:20px;
    color: #ffffff;
    padding: 5px; 
}

.logo{
    width:100%;
}


.rodapé{
    background-color: #252525;
    padding: 15px;
    text-align: center;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}