@font-face {
    font-family:fonte;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family:fonte1;
    src: url(fonts/SF\ MOVIE\ POSTER\ BOLD.TTF);
}

body{
    background-color:rgb(245, 244, 244);
}

.img_1{
    width:80px;
    height:19px;
}

.img_2{
    width: 10px;
    height:20px;
}

.img_all{
    width:100%;
}

.card1 {
    max-width: 400%;
    margin: 10px;
    margin-top: 50px;
    max-height:auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.card2 {
    max-width: 400%;
    margin: 10px;
    margin-top: 50px;
    max-height:auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card2:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.card3 {
    max-width: 400%;
    margin: 10px;
    max-height:auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card3:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.card4 {
    max-width: 400%;
    margin: 10px;
    max-height:auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card4:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.preço {
    color: rgb(66, 66, 66);
    font-size: 40px;
    font-family:fonte1;
}
  
.card1 button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color:#252525;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

.card2 button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color:#252525;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
  
.card3 button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color:#252525;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.card4 button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color:#252525;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.card1 button:hover {
    opacity: 0.7;
}
.card2 button:hover {
    opacity: 0.7;
}
.card3 button:hover {
    opacity: 0.7;
}
.card4 button:hover {
    opacity: 0.7;
}

.texto{
    font-family:fonte;
    font-style:italic;
    align-items: center;
    margin: 0 auto;
    font-size:12px;
}
.texto_titulo{
    font-family:fonte;
    text-align: center;
    font-size: 50px;
}
ul{
    display: flex;
    width: auto;
    justify-content:space-around;
    max-width: 1100px;
    margin: 0 auto;
}

.cabeçalho{
    background-color:#252525;
    padding:15px;
    margin:-8px;  
    width:auto;
    top:0px;
    text-align: center;
    align-items: center;
}
.logo_inicial{
      margin: 0 auto;
      margin-top:-1px;
      align-items: center;
}
.seta{
    margin-top:-37px;
    width: 10px;
}
.seta:hover{
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.rodapé{
    background-color:#252525;
    padding:14px;
    margin:-8px;
    margin-top: 50px;
    text-align:center;
    color:rgb(255, 255, 255);
    width: auto; 
    
}

.texto_rodapé{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
