
@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

body{
    background-color:rgb(245, 244, 244);
}

.img_1{
    width: 10px;
    height:20px;
}

.img_2{
    width:80px;
    height:19px;
}

.img_3{
    width:100%;
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    background-color:#252525;
    padding:15px;  
    align-items: center;
    
}

.logo_inicial{
    margin: 0 auto;
    margin-top:-1px;
    align-items: center;
}

ul{
    display: grid;
    grid-template-areas:"texto1 texto2 texto3";
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.centro{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pessoas{
    margin-bottom: 50px;
}
.container{
    flex-direction: row;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.texto{
    color: #000000;
    font-family: fonte2;
    text-align:justify;
    font-size:19px;

}

#img{
    width: 100px;
    border-radius: 15px;
    border: #252525 solid;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
}


.barra_mid{
    background-color: #252525;
    padding:1px;
    top:0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.texto_barra_mid{
    font-family:fonte2; 
    font-size:20px;
    text-align: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 15px;
    width: 100%;
}

.texto1{
    color: #000000;
    font-family: fonte2;
    text-align:justify;
    font-size:19px;

}



.table:hover{

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .3s ease;
}

.texto2{
    color: #000000;
    font-family: fonte2;
    text-align:justify;
    font-size:19px;
}

.texto3{
    color: #000000;
    font-family: fonte2;
    text-align:justify;
    font-size:19px;
}

.background1{
    width:350px;
}

.background2{
    width:350px;
}

.background3{
    width:350px;
}

.logo_inicial{
    width: 10%;
}

.seta{
    width: 10px;
}

.seta:hover{
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.rodapé{
    background-color: #252525;
    padding: 15px;
    text-align: center;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}