@font-face {
    font-family:fonte1;
    src: url(fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(204, 204, 204)
}

.container{

}

.headline {
    font-size:3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fonte1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    letter-spacing: 2px;

}

.tabela{
    margin-left: 30vh;
    width: 70%;
    font-family: fonte2;
    text-align: center;
    
    background-color: #ffffff;
    border-radius:15px;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.55);
    margin-bottom: 8%;
}

.tabela thead{
    background:#eee;
    font-weight: bold;
    color: rgb(59, 59, 59);   
}

table, th, td {
    border:1px rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 8px;
    border-bottom: 1px;
}

tr:hover {
    background-color: #111;
    color: #ffffff;
}
  
.rodapé{ 
    background-color:#252525;
    font-family:Arial, Helvetica, sans-serif;
    padding:15px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:13px;
    justify-content:flex-end;
}
