ul{
    list-style-type: none;
    overflow:hidden;
    width:auto;
    padding:0;
    background-color: #dddddd;
    margin:-8px -8px auto;
    margin-top: 8px;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

li{
    float: right;
}

li a{
    display:block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
}

li a:hover{
    background-color:#252525;  
    color: rgb(255, 255, 255);
    

}
.texto_barra{
    font:Helvetica,Arial,sans-serif;
    font-size:14px;
}
.cabeçalho{
    background-color:#252525;
    padding:12px;
    margin:-8px;  
    width:auto;
    top:0px;
    text-align: center;
    align-items: center;
}
.rodapé{
    background-color:#252525;
    padding:14px;
    margin:-8px;
    text-align:center;
    color:rgb(255, 255, 255);
    width: auto;
     
}
.texto_rodapé{
    font-family: Helvetica,Arial,sans-serif;
    font-size:13px;
}
.imagem_inicial{
    margin:auto;
    margin-top:-5px;
    
}
.botão_comprar{
    width: 175px;
    background:#252525;
    border-radius: 53px;  
    line-height:40px;
    height: 40px;
    margin: auto;
    margin-bottom:40px;
    text-align:center;
      
}

.botão_comprar:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.centro_pagina{
    font-size:14px;
    text-align: center;

}
.texto_style{
    font-family:Helvetica,Arial,sans-serif; 
    font-size:23px;
    text-align: center;

}
.logo{
    margin: 10px 10px;
    width:100%;
    

}
.imagem{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    width: auto;
}