@font-face {
    font-family:fonte;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family:fonte4;
    src: url(fonts/BebasNeue-Regular.otf);
}

.img_tp{
    width:50px;
    height:9%;
}

.img_1{
    width:45px;
    height:30%;
}

.img_2{
    width:100%;
    height:100%;
}

.img_3{
    width:100%;
    height:100%;
}

.img_all{
    width:100%;
}

.img_barra{
    width:100%;
    height:20px;
}




body{
    background-color:rgb(204, 204, 204)  
}

ul{
    list-style-type: none;
    overflow:hidden;
    width:auto;
    padding:auto;
    background-color: #dddddd;
    color: #dddddd ;
    margin:-8px -8px;
    margin-top: 1px;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.24);
}

li{
    float: right;
}

li a{
    display:flex;
    color: rgb(0, 0, 0);
    padding:10px;
    margin: 8px;
    text-decoration: none;
}

li a:hover{
    background-color:#aaa9a9;  
    color:rgb(255, 255, 255);
}

.logo_inicial{
    margin:0 auto;
    margin-top:-3px;
    align-items: center;
    width:100%;
    opacity: 0.0;
}

.cabeçalho{
    background-color:#252525;
    padding:12px;
    margin:-8px;  
    width:auto;
    top:0px;
    text-align: center;
    align-items: center;
}

.barra_posição_texto{
    margin-top: 3px;
    font-family: fonte2;
    font-size:12px; 
}

.logo_barra{
    margin: -30px;
    margin-top: 1px;
    margin-bottom: 0px;
    width:100%;
}
.texto_central{
    font-size:30px;
    text-align:center;
    font-family: fonte4;
    margin-top:30px;
    margin: 0 auto;
    
}

.gif_central1{
    margin-top:30px;
    padding: 5px;
    margin: 0 auto;
    width:40%;
}


.texto_botao{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:23px;
    text-align: center;
    margin: 0 auto;
}

.botão_comprar{
    width: 175px;
    background:#252525;
    border-radius: 53px;  
    line-height:40px;
    height: 40px;
    margin: 0 auto;
    text-align:center;
    font-family:fonte; 
    color: #ffffff;
}

.botão_comprar:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.imagem_central{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100% auto;
}

.barra_mid{
    background-color: #252525;
    margin:-8px;  
    padding:1px;
    width:auto;
    top:0px;
    align-items: center;
    margin-bottom: 30px;
}

.texto_barra_mid{
    font-family:fonte; 
    font-size:20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    width: 100%;
}

.gif_central{
    display:flex;
    justify-content: space-around;  
    margin-top:20px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.gif_1{
    max-width:20%;
    font-family: fonte4;
    grid-area: gif_1;
    margin: 0 auto;
    font-size:17px;

}

.gif_1:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.gif_2{
    max-width:20%;
    font-family: fonte4;
    grid-area: gif_2;
    margin: 0 auto;
    font-size:17px;
}

.gif_2:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.gif_3{
    max-width:20%;
    font-family: fonte4;
    grid-area: gif_3;
    margin: 0 auto;
    font-size:17px;
}

.gif_3:hover{
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.24);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.rodapé{
    background-color:#252525;
    padding:14px;
    margin:-8px;
    margin-top: 50px;
    text-align:center;
    color:rgb(255, 255, 255);
    width:0 auto; 
    
}

.texto_rodapé{
    font-family:arial,Helvetica,sans-serif;
    font-size:13px;
}
