@font-face {
    font-family: fonte2;
    src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: fonte5;
    src: url(/assets/fonts/Nunito-LightItalic.ttf);
}

body {
    background-color: rgb(245, 244, 244);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    background-color: #252525;
}

.containernav {
    display: flex;
    padding: 20px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#container-ul {
    display: flex;
    list-style: none;
    font-size: 0.6rem;
    font-family: fonte2;
    text-transform: uppercase;
    align-items: center;
    margin: 0px 0px 0px auto;
    float: right;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo_inicial {
    margin: 0 auto;
    align-items: center;
}

.seta {
    width: 10px;
}

.seta:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.img_1 {
    width: 80px;
    height: 19px;
}

.img_2 {
    width: 10px;
    height: 20px;
}

.img_3 {
    width: 65px;
    height: 70px;
}

.logo_inicial {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


form {
    margin: auto;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    background-color: #252525;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: fonte2;
    box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.24);
}

form div+div {
    align-items: center;
}

label {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
}

input,
textarea {
    width: 290px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: fonte2;
    padding-left: 10px;
    border: 2px #cecece inset;
    border-radius: 5px;
}

#enviar,
#limpar {
    border: none !important;
}

textarea {
    margin-left: 0 auto;
    align-items: center;
    height: 100px;
}

.nivel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.button {
    text-align: center;

    padding-top: 20px;
    padding-bottom: 10px;


}

.tabCadastro {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    overflow-y: scroll;
}

.form {
    height: 100%;
}

.headline {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fonte1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 2px;

}

.tabela {
    width: 100%;
    font-family: fonte2;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.55);
    margin-bottom: 8%;
}

.tabela thead {
    font-weight: bold;
    border-radius: 5px;
    background-color: #252525;
    color: #ffffff;
}

thead {
    width: 100%;
    height: 50px;
}

table,
th,
td {
    border: 1px rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 8px;
    border-bottom: 1px;
}

tr {
    font-size: 12px;
}

tr:hover {
    background-color: #111;
    color: #ffffff;

}

.nivel1 {
    opacity: 0.0;
}

/* footer */

footer {
    height: 6vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodapé {
    text-align: center;
    color: rgb(255, 255, 255);
}

.texto_rodape {
    font-family: fonte5;
    font-size: 0.4rem;
    text-transform: uppercase;
    color: #ffffff;
}