@font-face {
    font-family:fonte2;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

body{
    background-color:rgb(204, 204, 204)
}

.cabeçalho{
    background-color:#252525;
    padding:15px;
    margin:-8px;
    margin-top: -40px;  
    width:auto;
    top:0px;
    text-align: center;
    align-items: center;
}

.img_1{
    width:10px;
    height:20px;
}

.img_2{
    width:80px;
    height:19px;
}

.img_3{
    width:65px;
    height:70px;
}

.logo_inicial{
    margin: 0 auto;
    margin-top:1px;
    align-items: center;
}

.seta{
    margin-top:13px;
    width: 9px;
}

.seta:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

form{
    width: 320px;
    padding: 50px;
    border-radius:50px;
    background-color: #252525;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 40px;
    box-shadow:0 10px 9px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);  
}

form div + div{
   margin: 0px auto;
   padding: 6px;
}

label{
    display: inline-block;
    color: #ffffff;
    margin: 0px auto;
    font-family:fonte2;
}

input, textarea{
    width:200px;
    padding: 10px;
    margin: 0px auto;
    font-family: fonte2;
}

textarea{
    height: 10px;
}

.button1{
    margin: 10px 61px;
    text-align:center;
}

.button2{
    margin: 10px 61px;
    text-align:center;
}

.texto_principal{
    font-family:fonte2; 
    font-size:49%;
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
}

.texto_secundario{
    font-family:fonte2; 
    font-size:60%;
    color: #ffffff;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center; 
}

.logo{
    margin:-10px 130px;
    width:100%;
}