@font-face {
    font-family:fonte2;
    src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}

.img_3_login{
    width:65px;
    height:70px;
}


.modal {
    display:none;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

.form{
    width: 20%;
    padding: 25px;
    background-color: #252525;
    border-radius: 10px;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.55);
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    color: #ffffff;
    font-family:fonte2;
    text-align:left;
    padding: 10px;
}

input, textarea{
    width:20rem;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    font-family: fonte2;
}

.btn{
    margin: 30px;
    padding: 10px;
}

.button1{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button2{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.button3{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

textarea{
    height: 10px;
}

.texto_principal{
    font-family:fonte2; 
    font-size:60%;
    color: #ffffff;
    padding: 10px;
}

.texto_secundario{
    font-family:fonte2; 
    font-size:20px;
    color: #ffffff;
    padding: 5px; 
}

.logo{
    width:100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
